/** ISO AVATAR NAVBAR **/
.img-avatar {
  width: 13vw;
}

.iso-logo {
  display: block;
  transition: display 1s;
}

.hidden {
  display: none;
}

.visuallyhidden {
  opacity: 0;
}

/** CLASES DE MENU PRINCIPAL **/

.navbar-menu {
  background: transparent;
}

.nav__label {
  position: fixed;
  top: 0.1em;
  right: 0.3em;
  font-size: 1.5em;
}

.nav__label > button {
  background: transparent;
  border: none;
}

/*Input para controlar la vista*/
.nav__input {
  display: none;
}

.nav__input:checked ~ .nav__menu-particles {
  clip-path: polygon(100% 0, 100% 76%, 0 100%, 0 0);
}

.nav__input:checked ~ .nav__menu {
  clip-path: polygon(100% 0, 100% 76%, 0 100%, 0 0);
}

.nav__menu-particles {
  background: #F9F9F9;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -2.2em;
  clip-path: polygon(100% 0, 0 0, 0 100%, 0 0);
  transition: clip-path 1s ease-in-out;
  z-index: 1;
}

.nav__menu {
  background: transparent;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -2.2em;
  padding-left: 3em;
  padding-right: 3em;
  margin: 0;
  clip-path: polygon(100% 0, 0 0, 0 100%, 0 0);
  transition: clip-path 1s ease-in-out;
  z-index: 2;
}

/** ITEMS DE MENU **/
.menu-items {
  list-style: none;
  padding-top: 5em;
}

a {
  text-decoration: none;
}

.menu-items > li > a > h1 {
  font-size: 4vw;
  font-weight: bold;
  color: var(--main-color);
  line-height: 1.5;
  transition: font-size 1s;
}

.menu-items > li > a > h1:hover {
  animation: headShake;
  animation-duration: 1s;
  color: var(--secondary-color);
  font-size: 4.5vw;
  text-shadow: 0px 2px 0px var(--main-light-color);
}

.active {
  color: var(--secondary-color);
}

/** DIV COMPANY INFORMATION **/

.company-information {
  padding-top: 6em;
  padding-bottom: 5em;
}

.img-menu-iso {
  max-height: 5em;
  max-width: 20%;
}

.img-menu-logo {
  max-width: 60%;
}

/** SOCIAL MEDIA**/

.social-media-inline {
  list-style: none;
  overflow: hidden;
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
}

.social-media-inline > li > a {
  color: var(--main-color);
  padding-right: 2em;
  font-size: 1.5em;
}

.social-media-inline > li > a > i:hover {
  color: var(--secondary-color);
  animation: rubberBand;
  animation-duration: 1s;
}
