<div class="menu-main__content">
  <span class="menu-icon__default pointer" (click)="openCloseMenu()">
    <i *ngIf="!isOpen" class="pi pi-bars"></i>
    <i *ngIf="isOpen" class="pi pi-times"></i>
  </span>
</div>

<div *ngIf="isOpen">

  <div class="menu__particles" id="particles-menu">
    <!-- ANIMACION DE PARTICULAS -->
  </div>
  <div class="menu__container">
    <!--    Links de menu-->
    <ul class="menu-items">
      <li>
        <a [routerLink]="['/']" (click)="openCloseMenu()">
          <span>INICIO </span>
        </a>
      </li>
      <li>
        <a [routerLink]="['prices']" (click)="openCloseMenu()">
          <span>PRECIOS </span>
        </a>
      </li>
      <li>
        <a [routerLink]="['prices']" (click)="openCloseMenu()">
          <span>SERVICIOS </span>
        </a>
      </li>
      <li>
        <a [routerLink]="['prices']" (click)="openCloseMenu()">
          <span>CONTACTOS </span>
        </a>
      </li>
    </ul>

    <!--    Informacion de redes sociales-->
    <div class="social-media__container">

      <div class="">
        <p-image [src]="logoUrl" alt="logo-greybak" width="250"></p-image>
      </div>

      <ul class="social-media-inline">
        <li><a href=""><i class="pi pi-facebook" style="font-size: 1.5rem"></i></a></li>
        <li><a href=""><i class="pi pi-instagram" style="font-size: 1.5rem"></i></a></li>
        <li><a href=""><i class="pi pi-whatsapp" style="font-size: 1.5rem"></i></a></li>
      </ul>

    </div>

  </div>

</div>
