<div class="menu-main__content">
  <span class="menu-icon__default pointer" (click)="openCloseMenu()">
    <i *ngIf="!isOpen" class="pi pi-bars"></i>
    <i *ngIf="isOpen" class="pi pi-times"></i>
  </span>
</div>

<input hidden type="checkbox" id="menu" [checked]="isOpen" class="input-menu">

<div class="menu__particles" id="particles-menu">
  <!-- ANIMACION DE PARTICULAS -->
</div>
<div class="menu__container">

  <!--  Logotipo-->
  <p-image [src]="logoUrl" alt="logo-greybak" width="250"></p-image>

  <!--    Links de menu-->
  <div>
    <ul class="menu-items">
      <li>
        <a [routerLink]="['/']" (click)="openCloseMenu()">
          <span>inicio </span>
        </a>
      </li>
      <li>
        <a [routerLink]="['prices']" (click)="openCloseMenu()">
          <span>precios </span>
        </a>
      </li>
      <li>
        <a [routerLink]="['prices']" (click)="openCloseMenu()">
          <span>servicios </span>
        </a>
      </li>
      <li>
        <a [routerLink]="['prices']" (click)="openCloseMenu()">
          <span>contactos </span>
        </a>
      </li>
    </ul>
  </div>

  <!--    Informacion de redes sociales-->
  <div class="mt-4 mb-3">
    <ul class="social-media-inline">
      <li><a href=""><i class="pi pi-facebook" style="font-size: 1.5rem"></i></a></li>
      <li><a href=""><i class="pi pi-instagram" style="font-size: 1.5rem"></i></a></li>
      <li><a href=""><i class="pi pi-whatsapp" style="font-size: 1.5rem"></i></a></li>
    </ul>
  </div>

</div>
