<h1>Pagina principal</h1>


<!--<img src="assets/svg/main-left.svg" class="svg-left-img" alt="form"/>-->


<!--<div class="container-fluid ">-->
<!--  &lt;!&ndash;  <div class="particles-banner" id="banner-particles">&lt;!&ndash; PARTICULAS &ndash;&gt;</div>&ndash;&gt;-->
<!--  <section id="initial-section">-->

<!--    <div class="main-banner div-page">-->

<!--      <div class="row">-->

<!--        <div class="col-md-6 col-sm-12">-->
<!--          <div class="banner-box-container">-->
<!--            <h1 #bannerTitle class="banner-title bold">Diseño web<br><span class="main-color">profesional</span></h1>-->
<!--            <h6 #bannerSubtitle class="banner-subtitle">Creamos tu sitio web, posiciona tu negocio.</h6>-->
<!--            <button class="btn banner-btn  btn-secondary-outline">-->
<!--              Ver más-->
<!--            </button>-->
<!--          </div>-->

<!--        </div>-->

<!--        <div class="col-md-6 col-sm-12">-->
<!--          <div class="banner-box-container">-->
<!--            <img #imgBanner src="assets/images/web/web-responsive.svg"-->
<!--                 class="img-fluid img-banner img-hidden" alt="web-responsive-banner"/>-->
<!--          </div>-->

<!--        </div>-->

<!--      </div>-->


<!--    </div>-->

<!--  </section>-->
<!--  <section id="our-info">-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->

<!--  </section>-->
<!--  <section id="contact-info">-->

<!--    <img #logoMai2 src="assets/images/logo-blanco.png" class="img-fluid img-logo-banner" alt="greybak-logo" id="logo2">-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias beatae blanditiis debitis dicta-->
<!--      distinctio ducimus error et eveniet illo inventore ipsum mollitia, nemo nostrum pariatur provident quas sequi,-->
<!--      ut!</p>-->

<!--  </section>-->
<!--</div>-->
