/* You can add global styles to this file, and also import other style files */
@import "assets/css/variables.css";
/*IMPORTACION DE FUENTES*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/*END:: IMPORTACION DE FUENTES*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  /*cursor: none !important;*/
}

.page-container {
  padding-top: 4em;
}

.pointer {
  cursor: pointer;
}

.main-color {
  color: var(--main-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.main-light-color {
  color: var(--main-light-color);
}

.secondary-light-color {
  color: var(--secondary-light-color);
}

.no-margin {
  margin: 0;
  padding: 0;
}

.div-page {
  padding: 10vh 0 0;
  margin: 0;
}

.bold {
  font-weight: bold;
}

/** ESTILOS DE BOTONES  **/
.btn-secondary-outline {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  transition: .3s ease-in-out all;
}

.btn-secondary-outline:hover {
  border-color: var(--main-color);
  color: var(--main-color);
  transform: scale(1.1);
}
